@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
     font-family: 'Noto Sans JP', sans-serif;
}

.dropdown{
    margin:0 auto;
}

nav{
    height: 60px;
    /* background: #2c3e50; */
}

.logo{
    padding:10px 0 5px 20px;
}

nav ul{
    padding: 0;
    margin: 0;
    float:right;
    margin-right: 30px;
}

nav ul li{
    /* background : #2c3e50; */
    position: relative;
    list-style: none;
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 0 15px;
    color:rgb(236, 122, 122);
    text-decoration: none;
    line-height: 30px;
    font-size:15px;
    border-left:2px solid grey;
}

/* nav ul li a:hover{
    background:#243342;

} */

nav ul ul{
    position: absolute;
    top:60px;
    display :none;
}
nav ul li:hover >ul{
    display:block;
}

nav ul ul li{
    width:130px;
    float: none;
    display: list-items;
    position: relative;
}

.img11{
    position:relative;
    top:15px;
}
.img1{
    position:relative;
    top:15px;
    border-radius: 30px;
}

.img16{
     position:relative;
    top:15px;
    /* border-radius: 30px; */
}

/**********************2nd*********************************/

.nav{
    width:100%;
    /* padding: 5px 0px; */
    background : #222;
    margin-top:10px;
}

.nav ul{
    text-align: left;
    padding:0px;
    margin: 0px;
}

.nav ul li{
    list-style-type:none;
    display:inline-block;
    margin-left:-5px;
    color: #ccc;
    font-size:20px;
    width:200px;
    height:50px;
    line-height:6px;
    padding:10px;
    /* border-left: 1px solid #fff; */
    cursor: pointer;
    text-align: center;
}

.nav1 img{
    margin: 0px 15px;
    /* color:white; */
}

.nav ul li:hover{
    background-color: #fff;
    color:black;
    font-weight: bold;
}

/* --------------------------3rd div--------------- */
.nav11{
    width:100%;
    background-color: white;
    overflow: hidden;
}

.nav11 ul{
    padding:0;
    margin:0;
    list-style: none;
}

.nav11 ul li{
     display:inline-block;
    margin-left:-5px;
    color: black;
    font-size:20px;
    width:100px;
    height:40px;
    line-height:6px;
    padding:20px;
    /* border-left: 1px solid #fff; */
    cursor: pointer;
    text-align: center;
}

.nav11 ul li:hover{
    background-color: rgb(238, 216, 188);
    color:black;
    font-weight: bold;
    padding:20px;
}

/* -------------------body------------------- */
.main{
    background-color: rgb(238, 216, 188);
    width:100%;
    /* height: 100vh; */
    padding:30px;
}

.container1{
    background-color: white;
    /* border:3px solid black; */
    padding:30px;
    /* height:300vh; */
    
}
 .grid-container{
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    /* grid-gap: 3px; */
    background-color: white;
    /* border-top:2px solid grey; */
    /* padding: 10px; */
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* text-align: center; */
  padding: 20px 0;
  font-size: 15px;
}

.item1,.item3 {
  grid-column: 1 / span 1;
  /* text-align: center; */
  /* border:3px solid grey; */
}

.item2,.item4 {
     grid-column: 2 / span 3;

}
.select{
    width:100%;
    height:30px;
}

.item1,.item3 {
  grid-column: 1 / span 1;
}


.item5{
    grid-column: 1 / span 1;
    border-top:2px solid grey;
}

.item5 p{
   margin:20px;
}

.item6{
    grid-column: 2 / span 2;
    border-top:2px solid grey;
}

.item6 p{
    margin:20px;
}

.toggle{
    margin-bottom:10px;
    margin-top:10px;
    margin-left:25px;
}

.toggle-btn{
    width:70px;
    height:35px;
    background: red;
    border-radius:30px;
    padding: 5px;
    transition: all 300ms ease-in-out;
    /* margin-top:20px; */
}

.toggle-btn > .inner-circle{
 width: 30px;
 height: 30px;
 background: #fff;
 border-radius:50%;
 /* margin-top:-10px; */
 transition: all 300ms ease-in-out;
 
}

.toggle-btn.active{
    background:grey;
}

.hide{
    color:white;
}
.toggle-btn.active > .inner-circle{
    margin-left:30px;
}

.select1{
    width:90%;
    margin-left :20px;
    height:30px;
}


.item7{
  border-top:2px solid grey;
  border-left:2px solid grey;

  grid-column: 4 / 4;
  grid-row: 3 / 5;
  
}

 .container-m{
    max-width:500px;
    margin:auto;
    margin-top:4%;
}

.msg-header{
    /* border: 1px solid #ccc; */
    width:100%;
    height:10%;
    border-bottom:none;
    display: inline-block;
    background:white;
}

.active{
    width: 80px;
    float:left;
    margin-top: 10px;
}

.active h4{
    font-size: 20px;
    margin-left: 10px;
    color:black;
} 

.list1{
    margin-left:10px;
    color:green;
}

.header-icons{
    width:120px;
    float:right;
    margin-top:12px;
    margin-right:10px;
}

.header-icons .fa{
    color:black;
    cursor:pointer;
    margin:10px;

}

.chat-page{
    padding: 0 0 50px 0;
    background:rgb(226, 222, 222);
    height:320px;
}

.msg-inbox{
    /* border:1px solid #ccc; */
    overflow: hidden;
    padding-bottom: 30px;
}

.chats{
    padding: 30px 15px 0 25px;
}

.msg-page{
    height: 250px;
    overflow-y: auto;
}

.received-chats-img{
    display: inline-block;
    width:100%;
}

.received-msg{
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width:92;
}

.received-msg-inbox{
    width: 100%;
    margin-left:-10px;
}

.received-msg-inbox p{
    background:pink;
    border-radius:10px;
    color:white;
    font-size:15px;
    margin:0;
    padding: 5px 10px 5px 12px;
    width:100%;
}

.time{
    color:#777;
    display:block;
    font-size:12px;
    margin: 8px 0 0 ;

}

.outgoing-chats{
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width:92;
    margin-top:30px;
}
.outgoing-msg-inbox{
    width: 100%;
    margin-left:-10px;
}

.outgoing-chats-msg p{
    background:rgb(71, 65, 66);
    border-radius:10px;
    color:white;
    font-size:15px;
    margin:0;
    padding: 5px 10px 5px 12px;
    width:100%
}

.time1{
    color:#777;
    display:block;
    font-size:12px;
    margin: 5px;
    text-align: right;

}

.form1{
    padding: 2px;
    width:80%;
    border: 1px solid grey;
    margin-left:20px;
    height:30px;
    margin-top:20px;
}

#custom-msg1{
    width:50%;
    padding:5px;
}

#upload-button1{
    /* padding-left: 10px;
    padding-right: 10px; */
    /* color:#fff; */
    /* background: black; */
    border:none;
    cursor:pointer;
    /* height:50px; */
    margin-left:50px;
    text-align: center;
    /* position: relative; */
    /* top:-22px; */
}


.box{
    border:1px solid grey;
    height:400px;
    margin-top:80px;
    margin-left:20px;
    margin-right:20px;
    /* padding:10px; */ 
}

.item8{
    grid-column: 1 / span 1;
    border-top:2px solid grey;
}

.item8 p{
    /* border-top:3px solid yellow; */ 
    margin:20px;
}

.item9{
    grid-column: 2 / span 2;
    border-top:2px solid grey;
}

.item9 p{
    margin:20px;
}


.form{
    padding: 2px;
    width:80%;
    border: 1px solid grey;
    margin-left:20px;
    height:35px;
}

#custom-msg{
    width:100%;
    padding:5px;
}

#upload-button{
    padding-left: 10px;
    padding-right: 10px;
    color:#fff;
    background: black;
    border:none;
    cursor:pointer;
    height:30px;
    margin-left:380px;
    text-align: center;
    position: relative;
    top:-22px;
}

.item10{
    grid-column: 1 / span 3;
   border-top:2px solid grey;
   /* height:100px; */
}

.item11{
     border-top:2px solid grey;
     align-items: center;
}

.button{
    background: white;
    border:3px solid red;
    color:red;
    padding:10px;
    margin:10px;
}

.button1{
    background: red;
    border:3px solid red;
    color:white;
    padding:10px;
    margin:10px;
}